.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.map{
  display: flex;
  width: 60%;
  height: 25rem;
  position: absolute;
  top:200px;
  left: 150px;
}
.contain{
  width: 100%;
  display: flex;
  margin: 0%;
  padding: 0%;
}
.head{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:30px;
  justify-content: center;
  align-items: center;
  left: 210px;
  color: white;
  text-align: center;
}